/* Cores */
body {
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #0073b7;
    color: #fff;
}

h1 a {
    color: #fff;
    text-decoration: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ddd;
}

section.meta-data {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
}

section.meta-data h2 {
    color: #0073b7;
}

section.meta-data ul li {
    list-style: none;
    padding: 5px 0;
}

section.social-media {
    background-color: #0073b7;
    color: #fff;
    padding: 10px;
}

section.social-media ul li a {
    color: #fff;
    text-decoration: none;
}

section.social-media ul li a:hover {
    color: #ddd;
}

footer {
    background-color: #0073b7;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilos */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    height: 50px;
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    float: left;
    margin: 0;
    padding: 10px 0;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    padding: 0 10px;
}

section {
    margin: 10px 0;
}

section.meta-data {
    max-width: 600px;
    margin: 0 auto;
}

section.meta-data ul li {
    border-bottom: 1px solid #ddd;
}

section.social-media {
    max-width: 400px;
    margin: 0 auto;
}

section.social-media ul li {
    padding: 0 5px;
}

footer {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-primary {
    background-color: #12ee0b;
    color: #fff;
}

.btn-primary:hover {
    background-color: #ddd;
    color: #0073b7;
}